body {
    
    /* background-color: red;*/
    font-family: "Pangolin", "Helvetica", "sans-serif";
    margin: 0;
    
    
    
}
.dropbtn {
    background-color: #000000
        color: #f40f0f;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
     
    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 25px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}
.dropdown-content a {
    color: black;
    padding: 5px 3px;
    font-size: 25px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover {background-color: #fd0303}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(247, 10, 10, 0.25);
}
.option a {
background-color:red;
}
.option b {
background-color:yellow;
}

header{
    background-image: url(clouds_in_sky_background_192377.jpg);
    background-repeat: repeat;
    background-color: antiquewhite; 
    margin-top: -22px;
}
a {
   font-size: 45px;
    color: #0aff00;
    text-decoration: none;
    font-weight: bold; 
    text-decoration-style: dotted;
    border: 5px solid blue;  
}
a:hover {
    opacity: 0.5; 
}
.game1{
    display: inline;
    position: static;
    padding: 20px;
}
#wrapper{
  margin-top: -1%;
  background-size: 100%;
  background-position: absolute;

  height: 100vh;
}
p#poem {
  color: beige;
  font-size: 3.5vw;
  font-weight: bold;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  text-shadow: 1px 1px black;
  width: 80vw;
}

img{
    display: block;
    position: relative;
   z-index: -1;
    transform: translate(-50%, 0); 
    width 15%;
}
.img1{
     left: 35%;
    width: 87%;
}

.p1{
    padding-top: 0px;
    color: blue;
    width = 55%;
    
}
.p2{
    
    color: crimson;
}
.p3{
    
    color: green;
}
.p4{
    
    color: darkorange;
}
.p5{
    
    color: gold;
}
.p6{
    color: purple
}
.p7{
    color: crimson;
}
.p8{
    color: forestgreen;
} 
.p9{
    color: aqua;
}
.p10{
  color: darkred
}
header{
    
}
header img {
    position: absolute;
    max-height: 0px;
    width: 0%;
     
}
header h1{
    color: red;
}
header nav {
    background-color: black;
    color: white;
    position: relative;
    
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    padding: 10px;
}
li:hover{
    background-color: darkgreen;
}