body {
    
    /* background-color: red;*/
    font-family: "Pangolin", "Helvetica", "sans-serif";
    margin: 0;
    
    
}
.option a {
background-color:red;
}
.option b {
background-color:yellow;
}

header{
    background-image: url(clouds_in_sky_background_192377.jpg);
    background-repeat: repeat;
    background-color: antiquewhite; 
    margin-top: -22px;
}
a {
    
}
a:hover {
    
}

#wrapper{
  margin-top: -1%;
  background-size: 100%;
  background-position: absolute;

  height: 100vh;
}
p#poem {
  color: beige;
  font-size: 3.5vw;
  font-weight: bold;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  text-shadow: 1px 1px black;
  width: 80vw;
}

img{
    display: block;
    position: relative;
   z-index: -1;
    transform: translate(-50%, 0); 
    width 15%;
}
.img1{
     left: 35%;
    width: 87%;
}

.p1{
    margin-top: -350px;
    color: blue;
    width = 55%;
    z-index: 1;
}
.p2{
    z-index: 1;
    color: crimson;
}
header{
    
}
header img {
    position: absolute;
    max-height: 0px;
    width: 0%;
     
}
header h1{
    color: red;
}
header nav {
    background-color: black;
    color: white;
    position: relative;
    
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    padding: 10px;
}
li:hover{
    background-color: darkgreen;
}